/* CSS for DSA pages */

#main-content{
    color: #fff;
    background-color: #343a40;
    margin-bottom: 20px;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}

.gradient-background{
    height: 100%;
    background-color: #000000; /* For browsers that do not support gradients */
    background-image: linear-gradient(#000000,  #014274, #0D556D, #2C778F, #000000);
}

.py-5 {
    padding-bottom: 2rem !important;
}

.single-chapter-div {
    border: 1px solid #ddd; 
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

.single-chapter-heading-div {
    background: #343a40;
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-chapter-title {
    margin: 0;
}

.single-chapter-icon {
    transition: transform 0.3s;
}

.single-chapter-extra-content-div {
    overflow: hidden;
    transition: max-height 0.3s;
}

.single-chapter-hidden-div {
    overflow: hidden;
    transition: max-height 0.3s;
}

.single-track-title:hover {
    text-decoration: underline;
}

p.single-chapter-second-icon-heading{
    background-color: #343a40;
    color: #fff;
    margin: 0px;
}

.indexes-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background: #343a40;
    border-top: 1px solid #ddd;
}

.indexes-link:hover {
    background:#616e7a;
}

.content{
    width: 1120px;
    height: auto;
    background-color: #2e3236;
    padding: 20px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 3px;
    margin-left: 70px;
    margin-top: 100px;
}

.content-heading {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.content-subheading {
    font-size: 1.2em;
    margin-top: 20px;
}

.example {
    background-color: #36454F;
    border-left: 4px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

code {
    display: block;
    color: #89CFF0;
    background-color: #616569;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    white-space: pre-wrap;
}

@media (max-width: 768px) {
    .single-chapter-heading-div {
        flex-direction: column;
        align-items: flex-start;
    }

    .single-chapter-title {
        font-size: 1rem;
    }

    .single-chapter-icon-heading {
        margin-top: 10px;
    }
}

